---
layout: home.njk
---
<div class="landingpage">
  <div class="title">
    <h1>Templar <span>
    <i>Config your configs!</i></span></h1>
    <h2>A Lua based template system to generate config files<h2>
  </div>
  <a class="github" href="https://github.com/druskus20/templar">See on Github</a>
</div>
