<!doctype html>
<html data-theme='dark' lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templar</title>
    <!--<title>{{ title or metadata.title }}</title>-->
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ './css/styles.css' | url }}">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
  </head>
  <body>
    <header>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
    </footer>
  </body>
</html>
