@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;

    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: normal;

    a { 
        text-decoration: none;
    }
}

h1, h2 {
    font-weight: 600;
}

h3, h4 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.9rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    line-height: 1.5em;
    margin-bottom: 2em;
}

p, a, b, span, button, ul, li, td, th {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

code, code * {
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.9em;
}

p:not(:first-child) {
    margin-top: 0;
}

